*{
    margin:0;
    padding:0;
    border:none;
    text-decoration:none;
    box-sizing:border-box;
}

body{
    background-image: url('https://images2.alphacoders.com/693/693745.jpg');
    background-size: cover;
    height:100vh;
    width:100vw;
    font-family: 'Poppins', sans-serif;
    
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    width:30rem;
    height:20rem;
    border-radius: 10px;
    padding:1.5rem;
    background-color:white;
    border: 1.5px solid black
}

.container h1{
    color: #153546;
    text-align:center;
    
}

.container form{
    margin-top:.5rem
}

.container input{
    background-color:#c4a19d;
    border-radius: 3px;
    padding:.2rem;
    width:6.5rem;
    margin-right:.3rem;
    
}

.container label{
    font-size:.7rem
}

.container #salvar{
    font-size:.7rem;
    border-radius: 3px;
    width:2.5rem;
    height:1.5rem;
    padding:.3rem;
    background-color: #8fbc8f
}

button{
    transition:.3s;
    cursor:pointer;
}

button:hover{
    
    filter:brightness(.9);

}

.content{
    margin-top:1rem;
    height:11rem;
    overflow-y:scroll;
    overflow-x:hidden

}

.content li{
    margin-bottom:.5rem;
}

.content::-webkit-scrollbar {
    width: .3rem           
  }

.content::-webkit-scrollbar-track {
    background: white;     
}
  
.content::-webkit-scrollbar-thumb {
    background-color: gray;    
    border-radius: 20px;      
      
}

.content .edit, .content .excluir{
    width:3rem;
    height:1.5rem;
    border-radius:2px
}

.content .edit{
    background: #9dacc4
}

.content .excluir{
    background:#e34c58
}

.remove, .remove-excluir, .remover{
    display:none;
}

.result{
    font-size:.8rem;
    color: #3b3b3b;
    margin-right: 1rem;
}

.nome-result{
    margin-left:.5rem
}

.pop-up form, .excluir-div form{
    position:absolute;
    top:6rem;
    left:5rem;
    z-index:2;

    background:#f5f5f5;
    width:20rem;
    height:6rem;
    padding:.6rem;
    border-radius:10px;
    border:1.5px solid black
}

.pop-up form input{
    width:10rem;
    background-color: #eaeef1
}

.pop-up form button, .excluir-div form .buttons button {
    width: 6rem;
    padding:.2rem;
    border-radius:3px;
    
}

.excluir-div form, .excluir-div form .buttons{
    display:grid;
    align-items:center;
    justify-content:center
}

.excluir-div form .buttons{
    display:inline
}

.pop-up form #alterar, .excluir-div form .sim{
    background-color: #8fbc8f
}

.pop-up form #fechar, .excluir-div form .nao{
    background-color: #e34c58
}
